<%- include("./partials/header") %>

<%- include("./navbar/menu") %>

<div class="container mt-4">
    
    <h4>Hello <i><%= username %></i></h4>
    <hr class="my-4"> <br>    

    </div>

</div>

<%- include("./partials/footer") %>